<div class="main">

  <div class="output">
    <div>{{curNum}}</div>
    <label class="outputLabel">{{final}}</label>
  </div>

  <div>
    <div class="col"><button class="commonBtn" (click)="val(7)">7</button></div>
    <div class="col"><button class="commonBtn" (click)="val(8)">8</button></div>
    <div class="col"><button class="commonBtn" (click)="val(9)">9</button></div>
    <div class="col"><button class="commonBtn" (click)="mul()">X</button></div>
  </div>
  <div>
    <div class="col"><button class="commonBtn" (click)="val(4)">4</button></div>
    <div class="col"><button class="commonBtn" (click)="val(5)">5</button></div>
    <div class="col"><button class="commonBtn" (click)="val(6)">6</button></div>
    <div class="col"><button class="commonBtn" (click)="sub()">-</button></div>
  </div>
  <div>
    <div class="col"><button class="commonBtn" (click)="val(1)">1</button></div>
    <div class="col"><button class="commonBtn" (click)="val(2)">2</button></div>
    <div class="col"><button class="commonBtn" (click)="val(3)">3</button></div>
    <div class="col"><button class="commonBtn" (click)="add()">+</button></div>
  </div>
  <div>
    <div class="col"><button class="commonBtn" (click)="div()">/</button></div>
    <div class="col"><button class="commonBtn" (click)="val(0)">0</button></div>
    <div class="col"><button class="commonBtn">.</button></div>
    <div class="col"><button class="commonBtn" (click)="equal()">=</button></div>
  </div>
</div>